{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/sales/index.css' %}">{% endblock %}
{% block content %}
<div id="sideBar_wrapper" class="sideBar">
    {% include "side-bar.html" %}
</div>
<div class="d-flex flex-row flex-wrap main-body">
    <main class="col-12">
        <form action="{% url 'sales:index' %}" method="post">
        {% csrf_token %}

        {% if save_message %}
            <div class="save-message alert-{{ alert_type }}" style="text-align: center;">
                {{ save_message }}
            </div>
        {% endif %}
        <p>■ 当月予実状況</p>
        <div class="row">
            <div class="col-4" id="piechart" style="width: 100%;"></div>
            <div class="col-4" id="piechart2" style="width: 100%;"></div>
            <div class="col-4" id="piechart3" style="width: 100%;"></div>
        </div>
        <p>■ 過去実績紹介</p>
            <div id="chart_div" style="width: 100%; height: 300px;"></div>
            <div id="chart_div2" style="width: 100%; height: 300px;"></div>
            <div id="chart_div3" style="width: 100%; height: 300px;"></div>
        <p>■ 社員別実績</p>
        <form class="form_area" action="{% url 'sales:index' %}" method="get">
            <select name="user_id" class="SlectBox form-control" style="width: 200px;">
                <option disabled="disabled" {% if not parameter %}selected{% endif %}>社員名</option>
                {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id == parameter %}selected{% endif %}>{{ user.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn-search btn-outline-dark mb-2 "><i class="sub-icon fas fa-search"></i>検索</button>
        </form>
        <div class="row" style="height: 500px;">
            <div class = "col-5" id="piechart4" style="width: 100%;"></div>
            <div class = "col-7" id="chart_div4" style="width: 100%; height: 300px;"></div>
        </div>
        
        </form>
    </main>
</div>
{% endblock %}
{% block script %}

<script type="text/javascript">
var project_type = {{ project_type|safe }};
var project_type_len = {{ project_type_len|safe }};
var lastyear = "{{ lastyear }}";
var amount_by_month = "{{ sales_results.0.amount_by_month }}";
var gross_profit_by_month = "{{ sales_results.0.gross_profit_by_month }}";
var operating_income = "{{ operating_income }}";
var target_gross_profit = Number("{{ sales_targets.target_gross_profit }}")
var target_amount = Number("{{ sales_targets.target_sales_amount }}")
var target_operating_income = Number("{{ sales_targets.target_operating_income }}")
var target_gross_profit_dif = Number("{{ sales_targets.target_gross_profit }}")-Number("{{ sales_results.0.gross_profit_by_month }}");
var target_amount_dif = Number("{{ sales_targets.target_sales_amount }}")-Number("{{ sales_results.0.amount_by_month }}");
var target_operating_income_dif = Number("{{ sales_targets.target_operating_income }}")-Number("{{ operating_income }}");
var employee_sales_results = {{ employee_lst|safe }};
var past_employee_sales_results4 = {{ past_employee_lst4|safe }};
var past_employee_sales_results5 = {{ past_employee_lst5|safe }};
var past_employee_sales_results6 = {{ past_employee_lst6|safe }};
var past_employee_sales_results7 = {{ past_employee_lst7|safe }};
var past_employee_sales_results8 = {{ past_employee_lst8|safe }};
var past_employee_sales_results9 = {{ past_employee_lst9|safe }};
var past_employee_sales_results10 = {{ past_employee_lst10|safe }};
var past_employee_sales_results11 = {{ past_employee_lst11|safe }};
var past_employee_sales_results12 = {{ past_employee_lst12|safe }};
var past_employee_sales_results1 = {{ past_employee_lst1|safe }};
var past_employee_sales_results2 = {{ past_employee_lst2|safe }};
var past_employee_sales_results3 = {{ past_employee_lst3|safe }};
var exist_project_type = {{ exist_project_type|safe }};
var past_employee_sales_results = Number("{{ past_employee_len }}");
 


// alert(past_employee_sales_results["1"])

// alert(employee_sales_results["1"])

// 過去５ヶ月分の年/月
var past_sales_year0 = "{{ past_sales_results.0.target_year }}";
var past_sales_month0 = "{{ past_sales_results.0.target_month }}";
var past_sales_year1 = "{{ past_sales_results.1.target_year }}";
var past_sales_month1 = "{{ past_sales_results.1.target_month }}";
var past_sales_year2 = "{{ past_sales_results.2.target_year }}";
var past_sales_month2 = "{{ past_sales_results.2.target_month }}";
var past_sales_year3 = "{{ past_sales_results.3.target_year }}";
var past_sales_month3 = "{{ past_sales_results.3.target_month }}";
var past_sales_year4 = "{{ past_sales_results.4.target_year }}";
var past_sales_month4 = "{{ past_sales_results.4.target_month }}";
var past_sales_year5 = "{{ past_sales_results.5.target_year }}";
var past_sales_month5 = "{{ past_sales_results.5.target_month }}";
var past_sales_year6 = "{{ past_sales_results.6.target_year }}";
var past_sales_month6 = "{{ past_sales_results.6.target_month }}";
var past_sales_year7 = "{{ past_sales_results.7.target_year }}";
var past_sales_month7 = "{{ past_sales_results.7.target_month }}";
var past_sales_year8 = "{{ past_sales_results.8.target_year }}";
var past_sales_month8 = "{{ past_sales_results.8.target_month }}";
var past_sales_year9 = "{{ past_sales_results.9.target_year }}";
var past_sales_month9 = "{{ past_sales_results.9.target_month }}";
var past_sales_year10 = "{{ past_sales_results.10.target_year }}";
var past_sales_month10 = "{{ past_sales_results.10.target_month }}";
var past_sales_year11 = "{{ past_sales_results.11.target_year }}";
var past_sales_month11 = "{{ past_sales_results.11.target_month }}";

// 過去売上５ヶ月分
var past_sales_amount0 = "{{ past_sales_results.0.amount_by_month }}";
var past_sales_amount1 = "{{ past_sales_results.1.amount_by_month }}";
var past_sales_amount2 = "{{ past_sales_results.2.amount_by_month }}";
var past_sales_amount3 = "{{ past_sales_results.3.amount_by_month }}";
var past_sales_amount4 = "{{ past_sales_results.4.amount_by_month }}";
var past_sales_amount5 = "{{ past_sales_results.5.amount_by_month }}";
var past_sales_amount6 = "{{ past_sales_results.6.amount_by_month }}";
var past_sales_amount7 = "{{ past_sales_results.7.amount_by_month }}";
var past_sales_amount8 = "{{ past_sales_results.8.amount_by_month }}";
var past_sales_amount9 = "{{ past_sales_results.9.amount_by_month }}";
var past_sales_amount10 = "{{ past_sales_results.10.amount_by_month }}";
var past_sales_amount11 = "{{ past_sales_results.11.amount_by_month }}";

var past_targets_amount0 = "{{ past_sales_targets.0.target_sales_amount }}";
var past_targets_amount1 = "{{ past_sales_targets.1.target_sales_amount }}";
var past_targets_amount2 = "{{ past_sales_targets.2.target_sales_amount }}";
var past_targets_amount3 = "{{ past_sales_targets.3.target_sales_amount }}";
var past_targets_amount4 = "{{ past_sales_targets.4.target_sales_amount }}";
var past_targets_amount5 = "{{ past_sales_targets.5.target_sales_amount }}";
var past_targets_amount6 = "{{ past_sales_targets.6.target_sales_amount }}";
var past_targets_amount7 = "{{ past_sales_targets.7.target_sales_amount }}";
var past_targets_amount8 = "{{ past_sales_targets.8.target_sales_amount }}";
var past_targets_amount9 = "{{ past_sales_targets.9.target_sales_amount }}";
var past_targets_amount10 = "{{ past_sales_targets.10.target_sales_amount }}";
var past_targets_amount11 = "{{ past_sales_targets.11.target_sales_amount }}";

// 過去粗利５ヶ月分
var past_sales_gross_profit0 = "{{ past_sales_results.0.gross_profit_by_month }}";
var past_sales_gross_profit1 = "{{ past_sales_results.1.gross_profit_by_month }}";
var past_sales_gross_profit2 = "{{ past_sales_results.2.gross_profit_by_month }}";
var past_sales_gross_profit3 = "{{ past_sales_results.3.gross_profit_by_month }}";
var past_sales_gross_profit4 = "{{ past_sales_results.4.gross_profit_by_month }}";
var past_sales_gross_profit5 = "{{ past_sales_results.5.gross_profit_by_month }}";
var past_sales_gross_profit6 = "{{ past_sales_results.6.gross_profit_by_month }}";
var past_sales_gross_profit7 = "{{ past_sales_results.7.gross_profit_by_month }}";
var past_sales_gross_profit8 = "{{ past_sales_results.8.gross_profit_by_month }}";
var past_sales_gross_profit9 = "{{ past_sales_results.9.gross_profit_by_month }}";
var past_sales_gross_profit10 = "{{ past_sales_results.10.gross_profit_by_month }}";
var past_sales_gross_profit11 = "{{ past_sales_results.11.gross_profit_by_month }}";

var past_targets_gross_profit0 = "{{ past_sales_targets.0.target_gross_profit }}";
var past_targets_gross_profit1 = "{{ past_sales_targets.1.target_gross_profit }}";
var past_targets_gross_profit2 = "{{ past_sales_targets.2.target_gross_profit }}";
var past_targets_gross_profit3 = "{{ past_sales_targets.3.target_gross_profit }}";
var past_targets_gross_profit4 = "{{ past_sales_targets.4.target_gross_profit }}";
var past_targets_gross_profit5 = "{{ past_sales_targets.5.target_gross_profit }}";
var past_targets_gross_profit6 = "{{ past_sales_targets.6.target_gross_profit }}";
var past_targets_gross_profit7 = "{{ past_sales_targets.7.target_gross_profit }}";
var past_targets_gross_profit8 = "{{ past_sales_targets.8.target_gross_profit }}";
var past_targets_gross_profit9 = "{{ past_sales_targets.9.target_gross_profit }}";
var past_targets_gross_profit10 = "{{ past_sales_targets.10.target_gross_profit }}";
var past_targets_gross_profit11 = "{{ past_sales_targets.11.target_gross_profit }}";

// 過去５ヶ月分の営業粗利
var operating_income0 = "{{ operating_income_lst.0 }}";
var operating_income1 = "{{ operating_income_lst.1 }}";
var operating_income2 = "{{ operating_income_lst.2 }}";
var operating_income3 = "{{ operating_income_lst.3 }}";
var operating_income4 = "{{ operating_income_lst.4 }}";
var operating_income5 = "{{ operating_income_lst.5 }}";
var operating_income6 = "{{ operating_income_lst.6 }}";
var operating_income7 = "{{ operating_income_lst.7 }}";
var operating_income8 = "{{ operating_income_lst.8 }}";
var operating_income9 = "{{ operating_income_lst.9 }}";
var operating_income10 = "{{ operating_income_lst.10 }}";
var operating_income11 = "{{ operating_income_lst.11 }}";


var past_targets_operating_income0 = "{{ past_sales_targets.0.target_operating_income }}";
var past_targets_operating_income1 = "{{ past_sales_targets.1.target_operating_income }}";
var past_targets_operating_income2 = "{{ past_sales_targets.2.target_operating_income }}";
var past_targets_operating_income3 = "{{ past_sales_targets.3.target_operating_income }}";
var past_targets_operating_income4 = "{{ past_sales_targets.4.target_operating_income }}";
var past_targets_operating_income5 = "{{ past_sales_targets.5.target_operating_income }}";
var past_targets_operating_income6 = "{{ past_sales_targets.6.target_operating_income }}";
var past_targets_operating_income7 = "{{ past_sales_targets.7.target_operating_income }}";
var past_targets_operating_income8 = "{{ past_sales_targets.8.target_operating_income }}";
var past_targets_operating_income9 = "{{ past_sales_targets.9.target_operating_income }}";
var past_targets_operating_income10 = "{{ past_sales_targets.10.target_operating_income }}";
var past_targets_operating_income11 = "{{ past_sales_targets.11.target_operating_income }}";

if ("{{ parameter }}") {
    // 当月業種別売上
    var employee_sales_amount1 = "{{ employee_sales_results.0.amount_by_month }}";
    var employee_sales_amount2 = "{{ employee_sales_results.1.amount_by_month }}";
    var employee_sales_amount3 = "{{ employee_sales_results.3.amount_by_month }}";
    var employee_sales_amount4 = "{{ employee_sales_results.4.amount_by_month }}";
    var employee_sales_amount5 = "{{ employee_sales_results.5.amount_by_month }}";
    var employee_sales_amount6 = "{{ employee_sales_results.6.amount_by_month }}";
    // 過去業種別売上
    var past_employee_sales_amount1 = "{{ past_employee_sales_results.1.amount_by_month }}";
    var past_employee_sales_amount2 = "{{ past_employee_sales_results.2.amount_by_month }}";
    var past_employee_sales_amount3 = "{{ past_employee_sales_results.3.amount_by_month }}";
    var past_employee_sales_amount4 = "{{ past_employee_sales_results.4.amount_by_month }}";
    var past_employee_sales_amount5 = "{{ past_employee_sales_results.5.amount_by_month }}";
    // 年
    var past_employee_sales_year1 = "{{ past_employee_sales_results.1.target_year }}";
    var past_employee_sales_year2 = "{{ past_employee_sales_results.2.target_year }}";
    var past_employee_sales_year3 = "{{ past_employee_sales_results.3.target_year }}";
    var past_employee_sales_month1 = "{{ past_employee_sales_results.1.target_month }}";
    var past_employee_sales_month2 = "{{ past_employee_sales_results.2.target_month }}";
    var past_employee_sales_month3 = "{{ past_employee_sales_results.3.target_month }}";
} else {
    var employee_sales_amount1 = 100;
    var employee_sales_amount2 = 100;
    var employee_sales_amount3 = 100;
    var employee_sales_amount4 = 100;
    var employee_sales_amount5 = 100;
    var past_employee_sales_amount1 = 100;
    var past_employee_sales_amount2 = 100;
    var past_employee_sales_amount3 = 100;
    var past_employee_sales_amount4 = 100;
    var past_employee_sales_amount5 = 100;
    var past_employee_sales_year1 = 2020;
    var past_employee_sales_year2 = 2020; 
    var past_employee_sales_year3 = 2020; 
    var past_employee_sales_month1 = 2;
    var past_employee_sales_month2 = 3;
    var past_employee_sales_month3 = 4;
}

</script>
<script type="text/javascript" src="{% static 'js/sales/index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
{% endblock %}