{% load static %}
<link rel="stylesheet" href="{% static 'css/modal/modal.css' %}">
<body>
    <!-- モーダル1 -->
    <div id="modal1" class="modal_box">
    <h2>資格一覧</h2>
    <p>モーダルウィンドウが開きました。</p>
     
    <div class="link_area">
    <p class="modal_link"><a data-target="modal2" class="modal_switch"><span>ウィンドウ2へ</span></a></p>
    </div>
     
    <p><a class="modal_close"><i class="zmdi zmdi-close"></i></a></p>
    </div>
     
    <p><a class=><i class="zmdi zmdi-close"></i></a></p>
</body>

