<head>
      <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
      <script src="func.js"></script>
</head>
<body>
    <div id="demoslide01" class="main_visual bg_aaa">
    <p><a data-target="modal1" class="modal_open">クリックするとモーダルウィンドウが開きます</a></p>
    </div>

     
    <!-- モーダル1 -->
    <div id="modal1" class="modal_box">
    <h2>ウィンドウ1</h2>
    <p>モーダルウィンドウが開きました。</p>
     
    <div class="link_area">
    <p class="modal_link"><a data-target="modal2" class="modal_switch"><span>ウィンドウ2へ</span></a></p>
    </div>
     
    <p><a class="modal_close"><i class="zmdi zmdi-close"></i></a></p>
    </div>
     
    <p><a class=><i class="zmdi zmdi-close"></i></a></p>
</body>