.p-6 {
    margin-top: 10px !important;
    height: 100%;
}

.wrapper_button {
    float: right;
    display: inline-flex;
}

textarea {
    width: 100%;
    height: 100px;
}

.fa-pencil-alt {
    color: red;
}

.col-7 {
    height: 100%;
}

div.alert-danger p{
    margin: 0;
}

#_message-box {
    padding: 15px;
    margin: 15px;
    text-align: center;
}

._search-partner-company-btn{
    float: right;
}