.p-6 {
    margin-top: 10px !important;
    height: 100%;
}


.p-6 {
    margin-top: 10px !important;
    height: 100%;
}

option:first-child{
    display: none;
}

.form-control {
    margin-bottom: 10px;
    margin-right: 10px;
}
.form-inline.container.col-lg-12 {
    margin-left: 10%;
}

#_message-box {
    padding: 15px;
    margin: 15px;
    text-align: center;
}
