{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/clients/inquiry.css' %}">{% endblock %}
{% block content %}
<div id="sideBar_wrapper" class="sideBar">
    {% include "side-bar.html" %}
</div>
<div class="d-flex flex-row flex-wrap">
    <main class="col-12 p-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#inquiry" class="nav-link active" data-toggle="tab">お問い合わせ</a>
            </li>
            <li class="nav-item">
                <a href="#history" class="nav-link" data-toggle="tab">工事履歴</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="inquiry" class="tab-pane active">
                <p>■新規追加</p>
                <div class="row">
                    <div class="table-responsive col-5">
                        <table class="table table-striped text-nowrap">
                            <tbody>
                                <tr>
                                    <th>対応日時</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>対応者</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>宛先</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive col-5">
                        <table class="table table-striped text-nowrap">
                            <tbody>
                                <tr>
                                    <th>受付内容</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>メモ</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>宛先</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-export"></i>保存</button>
                        <button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-envelope"></i>メール送信</button>
                        <button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-trash-alt"></i>消去</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <p>■履歴</p>
                    <table class="table table-bordered table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>対応日時</th>
                                <th>対応者</th>
                                <th>宛先</th>
                                <th>電話番号</th>
                                <th>受付内容</th>
                                <th>メモ</th>
                                <th>消去</th>
                                <th>MAIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>あああああ</td>
                                <td><button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-trash-alt"></i>消去</button></td>
                                <td><button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-envelope"></i>メール送信</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="history" class="tab-pane">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th>工事番号</th>
                                <th>進行状況</th>
                                <th>作成日</th>
                                <th>工事件名</th>
                                <th>金額</th>
                                <th>未収金額</th>
                                <th>営業担当者</th>
                                <th>現場担当者</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>あああああ</td>
                                <td></td>
                                <td></td>
                                <td><button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-search"></i>詳細表示</button></td>
                                <td><button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-trash-alt"></i>消去</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}