{% extends "base.html" %}
{% load static %}

{% block page_title %}新規作成{% endblock %}

{% block content %}
<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0">案件作成</h3>
    </div>
    {# --- 全体エラーメッセージ --- #}
    {% if form.non_field_errors %}
    <div>エラー</div>
    <ul>
        {% for non_field_error in form.non_field_errors %}
        <li>{{ non_field_error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
   <div class="card-body">
        <form class="form" role="form" autocomplete="off">
            {% for field in form %}
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{{ field.label }}</label>
                <div class="col-lg-9">
                    {{ field }}
                </div>
                {# --- 入力フィールドごとのエラーメッセージ（最初のエラーのみを表示） --- #}
                {% if field.errors %}
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <p class="col-lg-9 text-danger">{{ field.errors.0 }}</p>
                {% endif %}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="float-right">
                <button type="submit" class="btn btn-primary"　formaction="{% url 'projects:create' %}" formmethod="post">保存</button>
            </div>
        </form>
   </div>
</div>
{% include "common/skills_modal.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/modal/modal.css' %}">
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/modal/modal.js' %}"></script>
{% endblock %}
{% endblock %}

