/* main CSS */
a {
    color: #284251;
}

.wrapper {
    min-height: 1425px !important;
}

main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

.form_area {
    width: 100%;
}

.form-group {
    display: inline-block;
}

.wrapper_button {
    margin-bottom: 20px;
    text-align: right;
}

.wrapper_button2 {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

main .btn {
    display      : inline-block;
    margin-right : 5px;
    margin-bottom: 5px;
}

.table th {
    background-color: #C0C0C0 !important;
    width: 118px;
    color: #284251;
}

.sideBar {
    height: 100%;
}

/* プログレスバーのCSS */
.progress {
    height: 60px;
    font-size: 32px;
}

.progress_container {
    margin: 30px 0;
}

.progress_container p {
    display: block;
    margin: 10px auto;
    font-size: 20px;
    color: #284251;
}

.progressbar {
    width: 100%;
    display: flex;
}

/* タブメニューのCSS */
.tab-pane {
    height: 100%;
}

.p-6 .row {
    width: 100%;
    margin:0 auto;
}

.p-6 {
    width: 100%;
    margin-bottom: 20px;
}

.tab-content {
    border:1px solid;
    border-color: #fff #BDB76B #BDB76B;
}

.tab-pane {
    padding: 10px;
}

li.nav-item.col-2 {
    padding: 0;
}

#input_plan.form-control {
    width: 300px;
    margin-right: 20px;
}

.btn_add {
    margin-left: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #BDB76B #BDB76B #fff !important;
}

.nav-tabs {
    border-bottom: 1px solid #BDB76B;
    background-color: #BDB76B;
}

.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
    height:100% !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.quote_item {
    border:1px #BDB76B solid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
}

#history textarea {
    width: 100%;
}

.p-6.nav-item a {
    display: block;
    height: 100%;
}

.sum {
    display: block;
    float: right;
    max-width: 400px;
}
/* ここまで */

/* PC画面 */
@media(min-width: 1090px) {
    .form_area {
        float : left;
    }

    .wrapper_button {
        /* float : right; */
        margin-bottom: 20px;
    }

    main .btn {
        display      : inline-block;
        margin-right : 5px;
        margin-bottom: 5px;
    }
}

/* レスポンシブ */
@media(max-width: 1024px) {
    #logout {
        display: none;
    }

    #logout_sideBar {
        display: block;
        color: #FFFFFF;
    }

    .drawer-nav {
        display: block!important;
    }

    .sideBar {
        display: none;
    }

    .wrapper_menue_button {
        display  : block !important;
    }

    .drawer-nav {
        background-color : #284251 !important;
    }

    .sideBar_menue {
        height           : 1219px;
        background-color : #284251;
        color            : #FFFFFF;
        font-size        : 18px;
        text-align       : left;
        font-family      : 'M PLUS 1p';
    }

    .sideBar_menue li {
        margin-left : 20px;
        margin-top  : 20px;
    }

    .sideBar_menue .inner {
        display: none;
    }

    .sideBar_menue p {
        cursor : pointer;
        padding: 10px;
    }

    .sidebar_active {
        color : #f0ca37;
    }
}

@media(max-width: 1200px) {
    .form-inline.container {
        width: 400px;
        margin-bottom: 20px;
    }
}

@media(max-width: 766px) {
    .form_area {
        text-align: center;
    }
}

@media(max-width: 577px) {
    .container1 {
        max-width: 300px;
        margin:0 auto;
    }

    .wrapper_button {
        text-align: left;
        width: 420px;
        margin:0 auto;
        margin-bottom: 10px;
    }
}

@media(max-width: 420px) {
    main {
        text-align: center;
    }

    .wrapper_button {
        text-align: left;
        width: 300px;
        margin:0 auto;
        margin-bottom: 10px;
    }

    main p {
        text-align: left;
        width: 100%;
    }
}

@media(max-width: 570px) {
    .drawer-nav {
        display: block!important;
    }

    .sideBar {
        display: none;
    }

    .wrapper_menue_button {
        display  : block !important;
    }

    .drawer-nav {
        background-color : #284251 !important;
    }

    .sideBar_menue {
        height           : 1219px;
        background-color : #284251;
        color            : #FFFFFF;
        font-size        : 18px;
        text-align       : left;
        font-family      : 'M PLUS 1p';
    }

    .sideBar_menue li {
        margin-left : 20px;
        margin-top  : 20px;
    }

    .sideBar_menue .inner {
        display: none;
    }

    .sideBar_menue p {
        cursor : pointer;
        padding: 10px;
    }

    .sidebar_active {
        color : #f0ca37;
    }
}