/* main CSS */
a {
    color: #284251;
}

.wrapper {
    min-height: 1425px !important;
}

main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

.form_area {
    width: 100%;
}

.form-group {
    display: inline-block;
}

.wrapper_button {
    margin-bottom: 20px;
    text-align: right;
}

.wrapper_button2 {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

main .btn {
    display      : inline-block;
    margin-right : 5px;
    margin-bottom: 5px;
}

.table th {
    background-color: #C0C0C0 !important;
    width: 118px;
    color: #284251;
}

.sideBar {
    height: 100%;
}

/* プログレスバーのCSS */
.progress {
    height: 60px;
    font-size: 32px;
}

.progress_container {
    margin: 30px 0;
}

.progress_container p {
    display: block;
    margin: 10px auto;
    font-size: 20px;
    color: #284251;
}

.progressbar {
    width: 100%;
    display: flex;
}

/* タブメニューのCSS */
.tab-pane {
    height: 100%;
}

.p-6 .row {
    width: 100%;
    margin:0 auto;
}

.p-6 {
    width: 100%;
    margin-bottom: 20px;
}

.tab-content {
    border:1px solid;
    border-color: #fff #BDB76B #BDB76B;
}

li.nav-item.col-2 {
    padding: 0;
}

#input_plan.form-control {
    width: 300px;
    margin-right: 20px;
}

.btn_add {
    margin-left: 20px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #BDB76B #BDB76B #fff !important;
}

.nav-tabs {
    border-bottom: 1px solid #BDB76B;
    background-color: #BDB76B;
}

.nav-tabs .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6 !important;
    height:100% !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.quote_item {
    border:1px #BDB76B solid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
}

#history textarea {
    width: 100%;
}

.p-6.nav-item a {
    display: block;
    height: 100%;
}

.sum {
    display: block;
    float: right;
    max-width: 400px;
}
/* ここまで */

.p-6 {
    margin-top: 10px !important;
    height: 100%;
}

.wrapper_button {
    float: right;
    display: inline-flex;
}

#e2 {
    display: none;
}

#tab_estimate.form_area {
    border:1px #BDB76B solid;
    padding: 10px;
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100px;
}

.fa-pencil-alt {
    color: red;
}

form {
    float: right;
    margin-top:10px;
}

.wrapper_button3 {
    float: left;
}

.col-7 {
    height: 100%;
}

#_message-box {
    padding: 15px;
    margin: 15px;
    text-align: center;
}

/* 明細テーブルへのみの設定 */
._estimation-entry-detail {
   background-color: #FFFACD;
}
._estimation-entry {
   background-color: white;
}


/* モーダル画面用のCSS */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}


._hidden_row {
    display: none;
}
._hidden_template_row {
    display: none;
}
._hidden_estimation-entry {
    display: none;
}
._hidden_estimation-entry-detail {
    display: none;
}
