p {
    width: 100%;
}

svg text {
    font-size: 12px !important;
    fill: black!important;
}

.col-6,.col-3 {
    padding:0;
}

#chart_div4 {
    margin-top: 50px;
}

.sidebar {
    min-height: 1925px;
}

.form_area {
	display: inline-flex;
}

.btn-search {
	margin: 4px 0 0 5px;
	border-radius: 0.5em;
}

.btn-search:hover {
	cursor: pointer;
}
.error{
    padding-left: 30px;
}
