html, body { 
    height: 100%; 
}

div#body.row {
  margin-left: 0;
  margin-right: 0;
  
}

.col-12 {
    padding-right: 0;
    width: 100%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin : 0;
    width  : 100%;
}

#page-not {
    text-align: center;
    margin-top: 300px;
}

.main-body {
    padding-top: 20px;
}

ul {
    list-style : none;
    padding-left: 0;
}

.btn {
     color : #284251 !important;
}

.wrapper {
    margin-top: 80px;
    width: 99%;
    min-height: 100%;
    position: relative;
}

/* header CSS */
header {
    background-color : #FFFFFF;
    width: 100%;
    text-align       : left;
    position         : fixed;
    top              : 0px;
    z-index          : 100;
    border-bottom    : solid 10px #f0ca37; 
    height           : 80px;
}

header img {
    display       : block;
    margin-top    : 5px;
    margin-bottom : 5px;
    margin-left   : 30px;
}

#logout {
    position: absolute;
    top: 20;
    right: 30;
}

.btn-logout {
    border-radius: 5px;
}

thead {
    color: #284251;
    background-color: #D3D3D3;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #FFFACD;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}

table {
   border: 1px #D3D3D3 solid;  /* 太さ3pxで緑色の実線 */
}

#logout_sideBar {
    display: none;
}

.save-message {
    padding: 15px;
    margin: 15px;
}

@media(min-width : 576px) {
    .wrapper_menue_button {
        display  : none;
    }

    .drawer-nav {
        display: none;
    }
}

/* side bar CSS */
#sidebar_wrapper.sideBar {
    width: 250px; 
    background-color : #284251;
    color            : #FFFFFF;
    font-size        : 18px;
    text-align       : left;
    font-family      : 'M PLUS 1p';
    float: left; 
}

.sideBar li {
    margin-left : 30px;
    margin-top  : 20px;
}

.sideBar .inner {
    display : none;
}

.sideBar p {
    cursor : pointer; 
    padding: 10px;
}

.sidebar_active {
    color : #f0ca37;
}

/* footer CSS */
footer {
    width      : 100%;
    text-align : center;
}

footer img {
    width        : 40px;
    position     : relative;
    bottom       : 0;
}

.error {
    color: red;
    padding-bottom: 10px;
}


.icon {
    padding: 0 10px;
}

.sub-icon {
    padding-right: 5px;
}

.content {
    opacity: 0.5;
    color: white;
}

.content:hover {
    color: #f0ca37;
    text-decoration: none;
    opacity: 1;
}

.add-content:hover {
    color: #f0ca37;
    text-decoration: none;
    opacity: 1;
}

textarea {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: -webkit-fill-available;
}

/* スマホ画面 */
@media(max-width: 576px) {
    /* side bar CSS */
    #logout {
        display: none;
    }

    #logout_sideBar {
        display: block;
        color: #FFFFFF;
    }

    .drawer-nav {
        background-color : #284251 !important;
    }

    .sideBar {
        display: none;
    }

    .sideBar_menue {
        background-color : #284251;
        color            : #FFFFFF;
        font-size        : 18px;
        text-align       : left;
        font-family      : 'M PLUS 1p';
    }

    .sideBar_menue li {
        margin-left : 20px;
        margin-top  : 20px;
    }

    .sideBar_menue .inner {
        display: none;
    }

    .sideBar_menue p {
        cursor : pointer; 
        padding: 10px;
    }

    .sidebar_active {
        color : #f0ca37;
    }
}