{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/constructions/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/constructions/paper_manage/detail.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="sideBar_wrapper" class="sideBar">
        {% include "side-bar.html" %}
    </div>
    <div class="row">
        <main class="col-md-12">
            <div class="p-6">
                {% include "documents-tab.html" %}
                <div class="tab-content">
                    <div id="tab_invoice" class="tab-pane active">
                        <div class="row">
                            <div class="wrapper_button" style="display:flex; justify-content: space-between; width: 100%; ">
                                <a href="{% url 'invoices:detail' invoice.id %}"><button type="button" class="btn-back btn btn-outline-warning btn-md"><i class="sub-icon fas fa-angle-double-left"></i>戻る</button></a>
                                <a href="{% url 'invoices:pdfDownload' invoice.id %}"><button type="submit" class="btn-update btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-export"></i>ダウンロード</button></a>
                                <!-- <button type="button" class="btn-update btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-export"></i>ダウンロード</button> -->
                            </div>
                            <div class="row">
                                <iframe src="{% url 'invoices:pdfCreate' invoice.id %}" width="100%" height="600px"></iframe>
                            </div>
                            <!-- <embed src="" type="application/pdf" width="100%" height="100%"> -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'js/constructions/paper_manage/detail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/invoices/detail.js' %}"></script>
{% endblock %}
