{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/constructions/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/constructions/paper_manage/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/invoices/index.css' %}">
{% endblock %}

{% load parse %}

{% block content %}
<div class="wrapper">
    <div id="sideBar_wrapper" class="sideBar">
        {% include "side-bar.html" %}
    </div>
    <div class="row">
        <main class="col-md-12">
            <div class="p-6">
              {% include "documents-tab.html" %}
                <div class="tab-content">
                    <div id="tab_quote" class="tab-pane active">
                        <div id="q3">
                            <div id="_message-box" class="{{ alert_type }}">{{ alert_message }}</div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="wrapper_button">
                                        <button type="submit" class="btn btn-outline-warning btn-md" id="_invoices-delete-btn"><i class="sub-icon fas fa-trash-alt"></i>選択削除</button>
                                        <form id="excel-export-form" action="{% url 'invoices:ExportExcel' %}" method="GET">
                                            <input type="hidden" name="construction_name" value="{{ search_conditions.construction_name }}">
                                            <input type="hidden" name="client_name" value="{{ search_conditions.client_name }}">
                                            <input type="hidden" name="published_date" value="{{ search_conditions.published_date }}">
                                            <input type="hidden" name="comfirm_date" value="{{ search_conditions.comfirm_date }}">
                                            <input type="hidden" name="construction_code" value="{{ search_conditions.construction_code }}">
                                            <input type="hidden" name="total_with_tax" value="{{ total_with_tax }}">
                                            <input type="hidden" name="payment_date" value="{{ search_conditions.payment_date }}">
                                            <input type="hidden" name="delivery_method" value="{{ search_conditions.delivery_method }}">
                                            <input type="hidden" name="count" value="">
                                        </form>
                                        <button type="submit" class="btn btn-outline-warning btn-md" form="excel-export-form"><i class="sub-icon fas fa-download"></i>エクスポート</button>
                                    </div>
                                    <div class="form_area">
                                        <form class="col-lg-12" id="invoices-search" action="{% url 'invoices:search' %}" method="get">
                                            <div class="fg form-inline container">
                                                <div class="row">
                                                    <div class="col-lg-12 col-xs-6">
                                                        <input type="name" class="form-control" id="construction_name" name="construction_name" placeholder="工事件名" value="{{ search_conditions.construction_name }}">
                                                        <input type="name" class="form-control" id="client_name" name="client_name" placeholder="請求先顧客名" value="{{ search_conditions.client_name }}">
                                                        <input type="text" class="form-control" id="published_date" name="published_date" placeholder="請求書発行日" onfocus='type="date"' onblur="(this.type='text')" value="{{ search_conditions.published_date }}">
                                                        <input type="text" class="form-control" id="comfirm_date" name="comfirm_date" placeholder="入金確認日" onfocus='type="date"' onblur="(this.type='text')" value="{{ search_conditions.comfirm_date }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fg form-inline container">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <input type="name" class="form-control col-2" id="construction_code" name="construction_code" placeholder="工事番号" value="{{ search_conditions.construction_code }}">
                                                        <input type="number" class="form-control col-2" id="total_with_tax" name="total_with_tax" placeholder="金額" value="{{ search_conditions.total_with_tax }}">
                                                        <input type="text" class="form-control col-2" id="payment_date" name="payment_date" placeholder="支払日" onfocus='type="date"' value="{{ search_conditions.payment_date }}" onblur="(this.type='text')">
                                                        <select class="SlectBox form-control col-2" id="delivery_method" name="delivery_method">
                                                            <option value="" selected>送付区分</option>
                                                            <option value="">送付区分</option>
                                                            {% for delivery_method in delivery_methods %}
                                                                {% if delivery_method.0|str == search_conditions.delivery_method|str %}
                                                                    <option selected value="{{ delivery_method.0 }}">{{ delivery_method.1 }}</option>
                                                                {% else %}
                                                                    <option value="{{ delivery_method.0 }}">{{ delivery_method.1 }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <select class="SlectBox form-control col-2" id="count" name="count">
                                                            <option value="" selected>表示件数</option>
                                                            <option value="">表示件数</option>
                                                            <option value="100">100</option>
                                                            <option value="300">300</option>
                                                            <option value="500">500</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="submit" class="search_btn btn-outline-dark mb-2 _invoice_search_btn" form="invoices-search"><i class="sub-icon fas fa-search"></i>検索</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>選択</th>
                                                        <th>請求書番号</th>
                                                        <th>工事件名</th>
                                                        <th>請求先顧客名</th>
                                                        <th>請求金額(税込)</th>
                                                        <th>請求区分</th>
                                                        <th>請求書発行日</th>
                                                        <th>支払い期日</th>
                                                        <th>入金確認日</th>
                                                        <th>送付区分</th>
                                                        <th>修正日</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <form id="index-form" method="get">
                                                    {% csrf_token %}
                                                    <tbody>
                                                        {% for invoice in invoices %}
                                                            <tr class="_row{{ invoice.id }}">
                                                                <td><input type="checkbox" name="invoice_id" value="{{ invoice.id }}"></td>
                                                                <td><a href="{% url 'invoices:detail' invoice.id %}">{{ invoice.code }}</a></td>
                                                                <td>{{ invoice.construction_name }}</td>
                                                                <td>{{ invoice.client_name }}</td>
                                                                <td>{{ invoice.total_with_tax }}</td>
                                                                <td>
                                                                    {% for billing_type in billing_types %}
                                                                        {% if billing_type.0|str == invoice.billing_type|str %}
                                                                            {{ billing_type.1 }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td>{{ invoice.published_date|date:"Y/n/j" }}</td>
                                                                <td>{{ invoice.payment_date|date:"Y/n/j" }}</td>
                                                                <td>{{ invoice.comfirm_date|date:"Y/n/j" }}</td>
                                                                <td>
                                                                    {% for delivery_method in delivery_methods %}
                                                                        {% if delivery_method.0|str == invoice.delivery_method|str %}
                                                                            {{ delivery_method.1 }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td>{{ invoice.updated_at|date:"Y/n/j" }}</td>
                                                                <td><a href="{% url 'invoices:copy' invoice.id %}"><button type="button" class="btn btn_delete btn-outline-warning btn-md"><i class="sub-icon fas fa-copy"></i>コピー</button></a></td>
                                                                <td><button type="button" class="btn btn_delete btn-outline-warning btn-md _invoice-delete-btn" value="{{ invoice.id }}"><i class="sub-icon fas fa-trash-alt"></i>削除</button></td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </form>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
{% block script %}<script type="text/javascript" src="{% static 'js/invoices/index.js' %}"></script>{% endblock %}
