/* main CSS */
.form_area {
    margin-bottom: 15px;
    height: 100px;
    padding-left: 10px;
}

.SlectBox {
    height: 30px !important;
    width: 90px !important;
    background-color: white;
    border-color: #ced4da !important;
    margin-right: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.form_area input {
    margin-right: 10px;
 
}

main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

.check_box {
    border: solid 0.5px #ced4da;
    padding: 3px;
    border-radius: 0.2em;
    margin-left: 10px;
}

.checkbox-inline {
    margin-bottom: 0;
}

.check_box label {
    padding-left: 1px;
}

.fg {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-control {
    width: 200px !important;
}


.form_area {
    float : left;
}

.wrapper_button {
    margin-bottom: 20px;
    text-align: right;
}

main .btn {
    display      : inline-block;
    margin-right : 5px;
    margin-bottom: 5px;
}

.table th {
    background-color: #C0C0C0 !important;
    width: 50px;
    color: #284251;
}

.sideBar {
    height: 100%;
}

.popup {
    display: none;
    height: 100vh;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}
 
.content_pop {
    background-color: #C0C0C0;
    padding: 30px;
    width: 40%;
}

.content p {
    color:black;
}


.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calender img {
    width: 6%;
}


/* レスポンシブ */
@media(max-width: 570px) { 
    .drawer-nav {
        display: block!important;
    }

    .sideBar {
        display: none;
    }

    .wrapper_menue_button {
        display  : block !important;
    }

    .drawer-nav {
        background-color : #284251 !important;
    }

    .sideBar_menue {
        height           : 1219px;
        background-color : #284251;
        color            : #FFFFFF;
        font-size        : 18px;
        text-align       : left;
        font-family      : 'M PLUS 1p';
    }

    .sideBar_menue li {
        margin-left : 20px;
        margin-top  : 20px;
    }

    .sideBar_menue .inner {
        display: none;
    }

    .sideBar_menue p {
        cursor : pointer; 
        padding: 10px;
    }

    .sidebar_active {
        color : #f0ca37;
    }

    @media(max-width: 678px) {

    }
}