/* main CSS */
form {
    width: 100%;
}

.SlectBox {
    height: 30px !important;
    background-color: white;
}

.form-group {
    display: inline-block;
}

main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

#inputname {
        width: 200px;
}

.save-message {
    padding: 15px;
    margin: 15px;
}

.edit {
    color: black;
}

.edit:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btn-edit {
    cursor: pointer;
}

.btn-search {
    border-radius: 0.5em;
}

.btn-search:hover {
    cursor: pointer;
}

/* PC画面 */
@media(min-width: 1090px) {
    .form_area {
        float : left;
    }

    .wrapper_button {
        float : right;
        margin-bottom: 20px;
    }

    main .btn {
        display      : inline-block;
        margin-right : 5px;
        margin-bottom: 5px;
    }
}

/* スマホ画面 */
@media(max-width: 1090px) {
    /* main CSS */
    .form-inline button {
        margin-left: 10px;
    }

    .form_area {
        width       : 300px;
        margin-bottom: 20px;
    }

    .wrapper_button {
        margin-bottom: 20px;
    }

    main { 
        text-align: center;  
        display: flex;
        flex-direction: column;  
    }

    main button {
        margin-bottom: 10px;
        margin-right : 5px;
    }

    main span {
        display    : block;
        text-align : center;
        margin     : 20px;
        color      : red;
    }

    .btn_table {
        float: center;
    }
}

@media(max-width: 803px) { 
    .wrapper_button {
        width        : 400px;
        margin       :0 auto;
        margin-bottom: 10px;
    }
    
    .form_area {
        width  : 300px;
        margin :0 auto;
    }
}