/* main CSS */
.form-group {
    display: inline-block;
}

main {
    margin-left: 10px;
}
    
main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

.edit {
    color: black;
}

.edit:hover {
    color: white;
    text-decoration: none;
}

.btn-edit {
    cursor: pointer;
}

.save-message {
    padding: 15px;
    margin: 15px;
}

.btn-search {
    border-radius: 0.5em;
}

.btn-search:hover {
    cursor: pointer;
}

/* レスポンシブPC画面 */
@media(min-width : 681px), ((max-width: 576px) and (min-width: 430px)) {
    .form_area {
        float      : left;
        margin-left: 10px;
    }

    main .btn {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .wrapper_button {
        float : right;
        margin-bottom: 30px;
    }
}

@media(max-width: 576px) and (min-width: 430px) {
    .form_area {
        float      : left;
        margin-left: 10px;
    }

    main .btn {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .wrapper_button {
        float : right;
        margin-bottom: 30px;
    }
}

@media(max-width : 680px) {
    .form_area {
        margin:0;
    }

    .wrapper_button {
        margin-bottom: 20px;
    }

    main {
        text-align: center;
    }
}

@media(max-width : 430px) {
    .form_area {
        margin:0;
    }

    .wrapper_button {
        margin-bottom: 20px;
    }
}