.wrapper_button {
    margin-bottom: 20px;
    text-align: center;
}

main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

label {
    display: block;
    position: relative;
    padding-left: 1em;
}

label input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.form-width {
    width: 70%;
}