/* main CSS */
.form_area {
    margin-bottom: 15px;
}

.SlectBox {
    height: 30px !important;
    width: 90px !important;
    background-color: white;
    border-color: #ced4da !important;
    margin-right: 10px;
}

main span {
    display    : block;
    text-align : center;
    margin     : 20px;
    color      : red;
}

.check_box {
    border: solid 0.5px #ced4da;
    padding: 3px;
    border-radius: 0.2em;
    margin-left: 10px;
    margin-right: 10px;
}

.checkbox-inline {
    margin-bottom: 0;
}

.check_box label {
    padding-left: 1px;
}

.fg {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-control {
    width: auto !important;
}

.form_area {
    float : left;
}

.wrapper_button {
    margin-bottom: 20px;
    width: 100%;
    text-align: right;
}

main .btn {
    display      : inline-block;
    margin-right : 5px;
    margin-bottom: 5px;
}

.search_btn {
    border-radius: 0.5em;
    min-width: 69px;
}

.form_area,.form-inline{
    width: 100%;
}

#input_tempdays.form-control,#input_days.form-control {
    max-width: 150px;
}

.table th {
    background-color: #C0C0C0 !important;
    width: 50px;
    color: #284251;
}

.sum {
    width: auto;
    float: right;
    margin-right: 5px;
}

@media(max-width: 924px) { 
    .drawer-nav {
        display: block!important;
    }

    .sideBar {
        display: none;
    }

    .wrapper_menue_button {
        display  : block !important;
    }

    .drawer-nav {
        background-color : #284251 !important;
    }

    .sideBar_menue {
        height           : 1219px;
        background-color : #284251;
        color            : #FFFFFF;
        font-size        : 18px;
        text-align       : left;
        font-family      : 'M PLUS 1p';
    }

    .sideBar_menue li {
        margin-left : 20px;
        margin-top  : 20px;
    }

    .sideBar_menue .inner {
        display: none;
    }

    .sideBar_menue p {
        cursor : pointer; 
        padding: 10px;
    }

    .sidebar_active {
        color : #f0ca37;
    }
    
    @media(max-width: 678px) {

    }
}