{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/partner_companies/create.css' %}">{% endblock %}
{% load parse %}
{% block content %}

<div id="sideBar_wrapper" class="sideBar">
    {% include "side-bar.html" %}
</div>
<div class="d-flex flex-row flex-wrap main-body">
    <main class="col-12">
        {% if save_message %}
            <div class="save-message alert-{{ alert_type }}" style="text-align: center;">
                {{ save_message }}
            </div>
        {% endif %}
        <form action="{% url 'partner_companies:update' partner_company.id %}" method="post">
            <input type="hidden" name="id" value="{{partner_company.id}}">
            {% csrf_token %}
            <div class="row">
                <div class="table-responsive col-6">
                    <table class="table table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <th>業者コード</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="text" name="code" value="{{ partner_company.code|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>業者種別</th>
                                <td>
                                     <div class="contractor_type-radio">
                                        <div class="form-check form-check-inline">
                                           <!--  <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="1"{% if "1" in partner_company.contractor_type %}checked{% endif %}>外注&nbsp; &nbsp;</label>
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="2"{% if "2" in partner_company.contractor_type %}checked{% endif %}>仕入先</label> -->
                                            {% if partner_company.contractor_type == '1' %}
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="1" checked>外注&nbsp; &nbsp;</label>
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="2">仕入先</label>
                                            
                                            {% elif partner_company.contractor_type == '2' %}
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="1">外注&nbsp; &nbsp;</label>
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="2" checked>仕入先</label>
                                            
                                            {% elif partner_company.contractor_type == '0' %}
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="1" checked>外注&nbsp; &nbsp;</label>
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="2" checked>仕入先</label>
                                            
                                            {% else %}
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="1">外注&nbsp; &nbsp;</label>
                                            <label class="checkbox-inline"><input type="checkbox" name="contractor_type" value="2">仕入先</label>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>業種<a id="js-show-popup"><i class="sub-icon fas fa-search"></i>検索</a></th>
                                <td>
                                    <input type="hidden" name="industry" value="{{partner_company.industry}}">
                                    <div id="large_industry">
                                        {{ partner_company.industry }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>業種（小項目）</th>
                                <td>
                                    <input type="hidden" name="s_industry" value="{{partner_company.s_industry}}">
                                    <div id="small_industry">
                                        {{ partner_company.s_industry }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>貴社名</th>
                                <td>
                                    <div>
                                        <input style="width:650px; height:30px;" type="text" name="company_name" value="{{ partner_company.company_name|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>ふりがな</th>
                                <td>
                                    <div>
                                        <input style="width:650px; height:30px;" type="text" name="company_name_kana" value="{{ partner_company.company_name_kana|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>会社種別</th>
                                <td>
                                    <div class="company_type-radio">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="company_type" value="1" {% if partner_company.company_type == '1' %}checked{% endif %}>
                                            <label class="form-check-label">前（株）</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="company_type" value="2" {% if partner_company.company_type == '2' %}checked{% endif %}>
                                          <label class="form-check-label">後（株）</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="company_type" value="3" {% if partner_company.company_type == '3' %}checked{% endif %}>
                                          <label class="form-check-label">その他</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>代表者氏名</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="text" name="representative_name" value="{{ partner_company.representative_name|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>資本金</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="number" name="capital" value="{{ partner_company.capital|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>従業員数</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="number" name="number_of_employees" value="{{ partner_company.number_of_employees|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>稟議</th>
                                <td>
                                <div class="decision-radio">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="decision" value="1" {% if partner_company.decision == 1 %}checked{% endif %}>
                                        <label class="form-check-label">必要</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="decision" value="2" {% if partner_company.decision == 2 %}checked{% endif %}>
                                      <label class="form-check-label">不要</label>
                                    </div>
                                </div>
                                </td>
                            </tr>
                            <tr>
                                <th>創業</th>
                                <td>
                                   <select name="founding_year">
                                    <option value="0"></option>
                                        {% for year in years_list %}
                                            <option value="{{ year }}" {% if partner_company.founding_year == year %}selected{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                   </select> 年
                                   <select name="founding_month">
                                    <option value="0"></option>
                                        {% for month in month_list %}
                                            <option value="{{ month }}" {% if partner_company.founding_month == month %}selected{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                   </select> 月
                                </td>
                            </tr>
                            <tr>
                                <th>設立</th>
                                <td>
                                   <select name="establishment_year">
                                    <option value="0"></option>
                                        {% for year in years_list %}
                                            <option value="{{ year }}" {% if partner_company.establishment_year == year %}selected{% endif %}>{{ year }}</option>
                                        {% endfor %}
                                   </select> 年
                                   <select name="establishment_month">
                                    <option value="0"></option>
                                        {% for month in month_list %}
                                            <option value="{{ month }}" {% if partner_company.establishment_month == month %}selected{% endif %}>{{ month }}</option>
                                        {% endfor %}
                                   </select> 月
                                </td>
                            </tr>
                            <tr>
                                <th>TEL</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="tel" name="company_tel" value="{{ partner_company.company_tel|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>FAX</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="tel" name="company_fax" value="{{ partner_company.company_fax|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>本所所在地</th>
                                <td>
                                    <div>
                                        <input style="width:650px; height:30px;" type="text" name="head_office_location" value="{{ partner_company.head_office_location|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>事業所所在地</th>
                                <td>
                                    <div>
                                        <input style="width:650px; height:30px;" type="text" name="office_location" value="{{ partner_company.office_location|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive col-6">
                    <table class="table table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <th>振込銀行</th>
                                <td>
                                    <div>
                                        <input style="width:550px; height:30px;" type="text" name="bank_name" value="{{ partner_company_bank_information.bank_name|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>支店名</th>
                                <td>
                                    <div>
                                        <input style="width:550px; height:30px;"  type="text" name="branch_name" value="{{ partner_company_bank_information.branch_name|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>口座種別</th>
                                <td>
                                    <div class="input-group-sm">
                                        <select class="form-control" name="account_type">
                                            <option value="0" {% if partner_company_bank_information.account_type == 0 %}selected{% endif %}></option>
                                            <option value="1" {% if partner_company_bank_information.account_type == 1 %}selected{% endif %}>普通</option>
                                            <option value="2" {% if partner_company_bank_information.account_type == 2 %}selected{% endif %}>当座</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>口座番号</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="number" name="account_number" value="{{ partner_company_bank_information.account_number|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>名義人</th>
                                <td>
                                    <div>
                                        <input style="width:550px; height:30px;"  type="text" name="nominee" value="{{ partner_company_bank_information.nominee|default:'' }}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>締日</th>
                                <td>
                                    <div class="input-group-sm">
                                        <select class="form-control" name="closing_date">
                                            <option value="0"></option>

                                            {% for closing_date in closing_dates %}
                                                {% if partner_company_bank_information.closing_date|str == closing_date.0|str %}
                                                    <option value="{{ closing_date.0 }}" selected>{{ closing_date.1 }}</option>
                                                {% else %}
                                                    <option value="{{ closing_date.0 }}">{{ closing_date.1 }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>支払いサイト</th>
                                <td>
                                    <input class="form-control" type="text" onfocus="type='number'" name="payment_site" value="{{ partner_company_bank_information.payment_site }}">
                                </td>
                            </tr>
                            <tr>
                                <th>端数処理</th>
                                <td>
                                    <input class="form-control" type="text" name="rounding" value="{{ partner_company_bank_information.rounding }}">
                                    <!-- <select class="form-control" name="rounding">
                                        <option value="" {% if partner_company_bank_information.rounding == '' %}selected{% endif %}></option>
                                        <option value="1" {% if partner_company_bank_information.rounding == '1' %}selected{% endif %}>四捨五入</option>
                                        <option value="2" {% if partner_company_bank_information.rounding == '2' %}selected{% endif %}>切り上げ</option>
                                        <option value="3" {% if partner_company_bank_information.rounding == '3' %}selected{% endif %}>切り捨て</option>
                                    </select> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <th>担当者</th>
                                <td>
                                    <select class="form-control" name="person_in_charge">
                                        <option></option>
                                        {% for user in users %}
                                            <option value="{{ user.name }}" {% if partner_company.person_in_charge ==  user.name %}selected{% endif %}>{{ user.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>担当者番号</th>
                                <td>
                                    <div class="input-group-sm">
                                        <input class="form-control" type="text" name="person_in_charge_tel" value="{{ partner_company.person_in_charge_tel|default:'' }}" readonly>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <th>最終更新日時</th>
                                <td>
                                    <div class="input-group-sm">
                                        {{ partner_company.updated_at|default:'' }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>最終更新者</th>
                                <td>
                                    <div class="input-group-sm">
                                        {{ partner_company.updated_user_name|default:'' }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <th>備考</th>
                                <td>
                                    <div class="input-group-sm">
                                        <textarea name="remarks" >{{ partner_company.remarks|default:'' }}</textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="wrapper_button">
                <a href="{% url 'partner_companies:index' %}">
                    <button type="button" class="btn-back btn btn-outline-warning btn-md"><i class="sub-icon fas fa-angle-double-left"></i>戻る</button>
                </a>
                <button type="submit" class="btn-update btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-export"></i>保存</button>
                <a href="{% url 'partner_companies:delete' partner_company.id %}">
                    <button type="button" class="btn-delete btn btn_delete btn-outline-warning btn-md"><i class="sub-icon fas fa-trash-alt"></i>消去</button>
                </a>
            </div>

            <!-- ポップアップ -->
            <div class="popup" id="js-popup">
                <div class="popup-inner">
                    <div class="table-responsive popup-table">
                        <table class="table table-striped text-nowrap popup-table">
                            <thead>
                                <tr>
                                    <th>大項目</th>
                                    <th>小項目</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    

                                    <td>
                                        <label><input id="finishing" type="checkbox" name="large_industry[]" value="100" {% if "100" in partner_company.large_industry %}checked{% endif %}>仕入れ</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="101" {% if "101" in partner_company.small_industry %}checked{% endif %}>建材</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="102" {% if "102" in partner_company.small_industry %}checked{% endif %}>家具</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="103" {% if "103" in partner_company.small_industry %}checked{% endif %}>その他</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input id="batch" type="checkbox" name="large_industry[]" value="200" {% if "200" in partner_company.large_industry %}checked{% endif %}>一括</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="201" {% if "201" in partner_company.small_industry %}checked{% endif %}>一括管理</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input id="interior-finish" type="checkbox" name="large_industry[]" value="300" {% if "300" in partner_company.large_industry %}checked{% endif %}>内装仕上</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="301" {% if "301" in partner_company.small_industry %}checked{% endif %}>クロス</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="302" {% if "302" in partner_company.small_industry %}checked{% endif %}>シート</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="303" {% if "303" in partner_company.small_industry %}checked{% endif %}>床</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="304" {% if "304" in partner_company.small_industry %}checked{% endif %}>塗装</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="305" {% if "305" in partner_company.small_industry %}checked{% endif %}>タイル</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="306" {% if "306" in partner_company.small_industry %}checked{% endif %}>左官</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="307" {% if "307" in partner_company.small_industry %}checked{% endif %}>石</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="308" {% if "308" in partner_company.small_industry %}checked{% endif %}>防水</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input id="dismantling" type="checkbox" name="large_industry[]" value="400" {% if "400" in partner_company.large_industry %}checked{% endif %}>仮設・解体</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="401" {% if "401" in partner_company.small_industry %}checked{% endif %}>仮設工事</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="402" {% if "402" in partner_company.small_industry %}checked{% endif %}>解体</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="403" {% if "403" in partner_company.small_industry %}checked{% endif %}>産廃</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input id="interior-construction" type="checkbox" name="large_industry[]" value="500" {% if "500" in partner_company.large_industry %}checked{% endif %}>内装工事</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="501" {% if "501" in partner_company.small_industry %}checked{% endif %}>大工</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="502" {% if "502" in partner_company.small_industry %}checked{% endif %}>什器</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="503" {% if "503" in partner_company.small_industry %}checked{% endif %}>軽天・ボード</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="504" {% if "504" in partner_company.small_industry %}checked{% endif %}>制作金物</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="505" {% if "505" in partner_company.small_industry %}checked{% endif %}>ガラス</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="506" {% if "506" in partner_company.small_industry %}checked{% endif %}>サッシ・シャッター</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="507" {% if "507" in partner_company.small_industry %}checked{% endif %}>サイン</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="508" {% if "508" in partner_company.small_industry %}checked{% endif %}>外構</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="509" {% if "509" in partner_company.small_industry %}checked{% endif %}>土木</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="510" {% if "510" in partner_company.small_industry %}checked{% endif %}>クリーニング</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="511" {% if "511" in partner_company.small_industry %}checked{% endif %}>雑工</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input id="equipment-work" type="checkbox" name="large_industry[]" value="600" {% if "600" in partner_company.large_industry %}checked{% endif %}>設備工事</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="601" {% if "601" in partner_company.small_industry %}checked{% endif %}>電気設備</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="602" {% if "602" in partner_company.small_industry %}checked{% endif %}>給排水設備</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="603" {% if "603" in partner_company.small_industry %}checked{% endif %}>空調設備工事</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="604" {% if "604" in partner_company.small_industry %}checked{% endif %}>防災工事</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="605" {% if "605" in partner_company.small_industry %}checked{% endif %}>ガス</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><input id="other" type="checkbox" name="large_industry[]" value="700" {% if "700" in partner_company.large_industry %}checked{% endif %}>その他</label>
                                    </td>
                                    <td>
                                        <label><input type="checkbox" name="small_industry[]" value="701" {% if "701" in partner_company.small_industry %}checked{% endif %}>設計</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="702" {% if "702" in partner_company.small_industry %}checked{% endif %}>パース</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="703" {% if "703" in partner_company.small_industry %}checked{% endif %}>お花・植物</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="704" {% if "704" in partner_company.small_industry %}checked{% endif %}>写真</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="705" {% if "705" in partner_company.small_industry %}checked{% endif %}>引越・倉庫・運搬</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="706" {% if "706" in partner_company.small_industry %}checked{% endif %}>鍵</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="707" {% if "707" in partner_company.small_industry %}checked{% endif %}>仲介</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="708" {% if "708" in partner_company.small_industry %}checked{% endif %}>アート</label><br>
                                        <label><input type="checkbox" name="small_industry[]" value="709" {% if "709" in partner_company.small_industry %}checked{% endif %}>その他</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="popup-btn">
                        <button type="button"><i class="sub-icon fas fa-check"></i>選択</button>
                    </div>
                </div>
                <div class="black-background"></div>
            </div>
        </form>
    </main>
</div>
{% endblock %}
{% block script %}<script type="text/javascript" src="{% static 'js/partner_companies/edit.js' %}"></script>{% endblock %}
