{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/constructions/detail.css' %}"><link rel="stylesheet" type="text/css" href="{% static 'css/constructions/paper_manage/detail.css' %}">{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="sideBar_wrapper" class="sideBar">
        {% include "side-bar.html" %}
    </div>
    <div class="row">
        <main class="col-md-12">
            <div class="p-6">
                {% include "documents-tab.html" %}
                <div class="tab-content">
                    <div id="tab_contract active" class="tab-pane active">
                        <div>
                            <div class="row">
                                <div class="col-7">
                                    <div class="form_area">
                                        <div class="wrapper_button3">
                                            <a href="{% url 'contracts:detail' contract.id %}">
                                            <button type="button" class="btn btn-outline-warning btn-md" value="c">
                                                <i class="sub-icon fas fa-angle-double-left"></i>
                                                戻る
                                            </button>
                                            </a>
                                        </div>
                                        <!-- <embed src="pdf.pdf" type="application/pdf" width="100%" height="100%"> -->
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="wrapper_button">
                                        <a href="{% url 'contracts:pdfDownload' contract.id %}"><button type="submit" class="btn-update btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-export"></i>ダウンロード</button></a>
                                        <button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-envelope"></i>メール送信</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- ここに書き加える {{contract.id}} -->
                                    <iframe src="{% url 'contracts:pdfExport' contract.id %}" width="100%" height="600px"></iframe>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'js/constructions/paper_manage/detail.js' %}"></script>
{% endblock %}