{% extends "base.html" %}
{% load static %}
{% block title %}IDEAL_ASP{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/constructions/detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contracts/index.css' %}">
{% endblock %}

{% load parse %}

{% block content %}
<div class="wrapper">
    <div id="sideBar_wrapper" class="sideBar">
        {% include "side-bar.html" %}
    </div>
    <div class="row">
        <main class="col-md-12">
            <div class="p-6">
                {% include "documents-tab.html" %}
                <div class="tab-content">
                    <div id="tab_contract active" class="tab-pane active">
                        <div id="c3">
                            <div id="_message-box" class="{{ alert_type }}">{{ alert_message }}</div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="wrapper_button">
                                        <form id="excel-export-form" action="{% url 'contracts:export_excel' %}" method="GET">
                                            <input type="hidden" name="sales_user_id" value="{{ search_conditions.sales_user_id }}">
                                            <input type="hidden" name="construction_name" value="{{ search_conditions.construction_name }}">
                                            <input type="hidden" name="contract_date" value="{{ search_conditions.contract_date }}">
                                            <input type="hidden" name="construction_code" value="{{ search_conditions.construction_code }}">
                                            <input type="hidden" name="client_name" value="{{ search_conditions.client_name }}">
                                            <input type="hidden" name="contractor_name" value="{{ search_conditions.contractor_name }}">
                                            <input type="hidden" name="count" value="{{ search_conditions.count }}">
                                        </form>
                                        <button type="button" id="_contracts-delete-btn" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-trash-alt"></i>選択削除</button>
                                        <button type="submit" class="btn btn-outline-warning btn-md" form="excel-export-form"><i class="sub-icon fas fa-download"></i>エクスポート</button>
                                    </div>
                                    <div class="form_area">
                                        <form class="col-lg-12" id="contracts-search" action="{% url 'contracts:search' %}" method="get">
                                            <div class="fg form-inline container">
                                                <div class="row">
                                                    <div class="col-lg-10 col-xs-6">
                                                        <input type="text" class="form-control" id="construction_name" name="construction_name" placeholder="工事件名" value="{{ search_conditions.construction_name }}">
                                                        <input type="text" class="form-control" id="client_name" name="client_name" placeholder="顧客名" value="{{ search_conditions.client_name }}">
                                                        <select class="form-control" id="sales_user_id" name="sales_user_id" value="">
                                                            <option disable value="">営業担当</option>
                                                            <option value="">営業担当</option>
                                                            {% for user in users %}
                                                                {% if user.id|str == search_conditions.sales_user_id|str %}
                                                                    <option selected value="{{ user.id }}">{{ user.name }}</option>
                                                                {% else %}
                                                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                                                {% endif %}
                                                            {% endfor %}search_conditions.sales_user_id
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fg form-inline container">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" id="construction_code" name="construction_code" placeholder="工事番号" value="{{ search_conditions.construction_code }}">
                                                        <input type="text" class="form-control" id="contractor_name" name="contractor_name" placeholder="契約者名" value="{{ search_conditions.contractor_name }}">
                                                        <input type="text" class="form-control" id="contract_date" name="contract_date" placeholder="契約日" onfocus='type="date"'onblur="(this.type='text')"value="{{ search_conditions.contract_date }}">
                                                        <select class="form-control" id="count" name="count">
                                                            <option value="" selected>表示件数</option>
                                                            <option value="">表示件数</option>
                                                            <option value="100">100</option>
                                                            <option value="300">300</option>
                                                            <option value="500">500</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <button type="submit" class="search_btnaa btn-outline-dark mb-2 _contract-search-btn"><i class="sub-icon fas fa-search"></i>検索</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>選択</th>
                                                        <th>契約番号</th>
                                                        <th>契約書種別</th>
                                                        <th>工事件名</th>
                                                        <th>顧客名</th>
                                                        <th>契約者名</th>
                                                        <th>営業担当</th>
                                                        <th>発行日</th>
                                                        <th>契約日</th>
                                                        <th>送付区分</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <form id="index-form" method="post">
                                                        {% csrf_token %}
                                                        {% for contract in contracts %}
                                                            <tr class="_row{{ contract.id }}">
                                                                <td><input type="checkbox" name="contract_id" value="{{ contract.id }}"></td>
                                                                <td><a href="{% url 'contracts:detail' contract.id %}">{{ contract.code }}</a></td>
                                                                <td>
                                                                    {% for contract_type in contract_types %}
                                                                        {% if contract_type.0 == contract.contract_type %}
                                                                            {{ contract_type.1 }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td>{{ contract.construction_name }}</td>
                                                                <td>{{ contract.client_name }}</td>
                                                                <td>{{ contract.contractor_name }}</td>
                                                                <td>{{ contract.construction.sales1_user.name }}</td>
                                                                <td>{{ contract.published_date }}</td>
                                                                <td>{{ contract.contract_date }}</td>
                                                                <td>
                                                                    {% for delivery_method in delivery_methods %}
                                                                        {% if delivery_method.0 == contract.delivery_method %}
                                                                            {{ delivery_method.1 }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </td>
                                                                <td><a href="{% url 'contracts:copy' contract.id %}"><button type="button" class="btn btn_delete btn-outline-warning btn-md"><i class="sub-icon fas fa-copy"></i>コピー</button></a></td>
                                                                <td><button type="button" class="btn btn_delete btn-outline-warning btn-md _contract-delete-btn" value="{{ contract.id }}"><i class="sub-icon fas fa-trash-alt"></i>削除</button></td>
                                                            </tr>
                                                        {% endfor %}
                                                    </form>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/common/validation.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contracts/index.js' %}"></script>
{% endblock %}
