{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/modal/search-estimation-templates-modal.css' %}">
{% endblock %}

{% block content %}
    <div class="modal__content">
        <div class="row d-flex justify-content-between w-100">
            <div class="fg form-inline">
                <label class="sr-only">内訳</label>
                <input id="_estimation_template_entry_name" type="text" value="" class="form-control" placeholder="内訳">
                <label class="sr-only">明細</label>
                <input id="_estimation_template_detail_name" type="text" value="" class="form-control" placeholder="明細">
            </div>
            <div class="buttons">
                <button type="button" id="_estimation_template_search_btn" class="btn-back btn btn-outline-warning btn-md"><i class="sub-icon fas fa-search"></i>検索</button>
                <button type="button" id="_estimation_template_choose_btn" class="btn-back btn btn-outline-warning btn-md"><i class="sub-icon fas fa-search"></i>選択</button>
            </div>
        </div>
        <div id="_modal__estimation-templates-table" class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap">
                <thead>
                    <tr>
                        <th>選択</th>
                        <th>見積マスタ番号</th>
                        <th>分類1</th>
                        <th>分類2</th>
                        <th>内訳</th>
                        <th>明細</th>
                    </tr>
                </thead>
                <tbody id="_add_row_target">
                    <tr class="_hidden_template_row">
                        <td><input type="checkbox" name="estimation_templates_params" value=""></td>
                        <td name="estimation_template_codes"></td>
                        <td name="taxonomy1s"></td>
                        <td name="taxonomy2s"></td>
                        <td name="entry_names"></td>
                        <td name="detail_names"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/components/modal/modal-base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/components/modal/search-estimation-templates-modal.js' %}"></script>
{% endblock %}
