{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/modal/search-partner-company-modal.css' %}">
{% endblock %}

<div>
    <p class="text-center">業者データ検索</p>
    <div class="row d-flex justify-content-between">

        <div class="form-inline">
            <input class="_modal__name" class="form-control" type="text" placeholder="会社名">
            <select class="_modal__large_industry" class="form-control">
                <option value="" placeholder="業種">業種</option>
                {% for e in large_industry_list %}
                    <option value="{{ e.0 }}">{{ e.1 }}</option>
                {% endfor%}
            </select>
            {% for e in large_industry_list %}
                <input type="hidden" class="large_industry" id="large_{{ e.0 }}_hidden" value="{{ e.1 }}">
            {% endfor %}
            {% for e in small_industry_list %}
                <input type="hidden" class="small_industry" id="small_{{ e.0 }}_hidden" value="{{ e.1 }}">
            {% endfor %}
        </div>

        <div class="">
            <button class="_modal__search-button btn btn-outline-warning btn-md" type="" name="button">
                <i class="fas fa-search"></i>検索
            </button>
        </div>

        <div id="_modal__partner-companies-table" class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap">
                <thead>
                    <th></th>
                    <th>業者コード</th>
                    <th>会社名</th>
                    <th>業種</th>
                </thead>
                <tbody class="_modal__table">

                </tbody>
            </table>
        </div>

    </div>
</div>
{% block script %}
    <script type="text/javascript" src="{% static 'js/components/modal/modal-base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/components/modal/search-partner-company-modal.js' %}"></script>
{% endblock %}
