{# 工事請負基本契約書の場合 #}
{% load parse %}

<div class="table-responsive">
    <table class="table table-striped table-bordered text-nowrap">
        <tbody>
            <tr>
                <th>契約期間</th>
                <td>
                    <input class="form-control" type="date" name="basic_start_date"
                        {% if mode == 'detail' %}
                            value="{{ contract.basic_start_date | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >～<input class="form-control" type="date" name="basic_end_date"
                        {% if mode == 'detail' %}
                            value="{{ contract.basic_end_date | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>検査及び引き渡し時期</th>
                <td>完成の日から<input name="basic_acceptance_day" type="number"
                        {% if mode == 'detail' %}
                            value="{{ contract.basic_acceptance_day | default:'' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >日</td>
            </tr>
        </tbody>
    </table>
</div>