{# 工事注文書（基本契約用/約款付）の場合 #}
{% load parse %}
{% load calc %}

<div class="table-responsive">
    <table class="table table-striped table-bordered text-nowrap">
        <tbody>
            <tr>
                {# TODO #}
                <th>本体工事金額</th>
                <td>
                    <input class="form-control" type="number" name="order_total"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_total | default:'' }}"
                        {% elif mode == 'create' %}
                            value="{{ construction.contract_amount }}"
                        {% endif %}
                     >
                 </td>
            </tr>
            <tr>
                {# TODO #}
                <th>税込み合計金額</th>
                <td>
                    <input class="form-control" type="number" name="order_total_with_tax"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_total_with_tax | default:'' }}"
                        {% elif mode == 'create' %}
                            value="{{ contract_total }}"
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                {# TODO #}
                <th>係る消費税</th>
                <td>
                    <input class="form-control" type="number" name="order_tax"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_tax | default:'' }}"
                        {% elif mode == 'create' %}
                            value="{{ contract_total | subtract:construction.contract_amount }}"
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>工事内容</th>
                <td>
                    <input class="form-control" type="text" name="order_description"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_description | default:'' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>TEL(連絡先TEL)</th>
                <td>
                    <input class="form-control" type="text" name="order_tel"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_tel | default:'' }}"
                        {% elif mode == 'create' %}
                            value="{{ construction.contact_tel }}"
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>
                    <input class="form-control" type="text" name="order_fax"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_fax | default:'' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>工事発注日</th>
                <td>
                    <input class="form-control" type="date" name="order_date"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_date | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>現場住所</th>
                <td>
                    <input class="form-control" type="text" name="order_site_address"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_site_address | default:'' }}"
                        {% elif mode == 'create' %}
                            value="{{ construction.site_address }}"
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>着手(着工日)</th>
                <td>
                    <input class="form-control" type="date" name="order_start_date"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_start_date | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                            value="{{ construction.start_date | date:'Y-m-d' }}"
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>完成(完工日)</th>
                <td>
                    <input class="form-control" type="date" name="order_end_date"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_end_date | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                            value="{{ construction.end_date | date:'Y-m-d' }}"
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>お支払い条件</th>
                <td>
                    <input class="form-control" type="text" name="order_payment_terms"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_payment_terms | default:'' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>◆お支払予定日</th>
                <td>
                    <input class="form-control" type="date" name="order_payment_expected_date_1"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_payment_expected_date_1 | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>◆お支払予定日</th>
                <td>
                    <input class="form-control" type="date" name="order_payment_expected_date_2"
                        {% if mode == 'detail' %}
                            value="{{ contract.order_payment_expected_date_2 | date:'Y-m-d' }}"
                        {% elif mode == 'create' %}
                        {% endif %}
                    >
                </td>
            </tr>
            <tr>
                <th>書類タイプ</th>
                <td>
                    <input class="" type="radio" name="order_paper_type" value="0"
                        {% if contract.order_paper_type|str == '0' or contract.order_paper_type is None or mode == 'create'%}
                            checked="checked"
                        {% endif %}
                    >基本契約
                    <br>
                    <input class="" type="radio" name="order_paper_type" value="1"
                        {% if contract.order_paper_type|str == '1' %}
                            checked="checked"
                        {% endif %}
                    >約款付
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped table-bordered text-nowrap">
    <thead>
        <tr>
            <th>検印1</th>
            <th>検印2</th>
            <th>検印3</th>
            <th>検印4</th>
            <th>検印5</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select class="form-control" id="order_stamp1_user_id" name="order_stamp1_user_id" value="{{ contract.order_stamp1_user_id }}">
                    <option value=""></option>
                {% for user in users %}
                    {% if user.id == contract.order_stamp1_user_id %}
                        <option value="{{ user.id }}" selected>{{ user.name }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-control" id="order_stamp2_user_id" name="order_stamp2_user_id" value="{{ contract.order_stamp2_user_id }}">
                    <option value=""></option>
                {% for user in users %}
                    {% if user.id == contract.order_stamp2_user_id %}
                        <option value="{{ user.id }}" selected>{{ user.name }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-control" id="order_stamp3_user_id" name="order_stamp3_user_id" value="{{ contract.order_stamp3_user_id }}">
                    <option value="" ></option>
                {% for user in users %}
                    {% if user.id == contract.order_stamp3_user_id %}
                        <option value="{{ user.id }}" selected>{{ user.name }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-control" id="order_stamp4_user_id" name="order_stamp4_user_id" value="{{ contract.order_stamp4_user_id }}">
                    <option value="" ></option>
                {% for user in users %}
                    {% if user.id == contract.order_stamp4_user_id %}
                        <option value="{{ user.id }}" selected>{{ user.name }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-control" id="order_stamp5_user_id" name="order_stamp5_user_id" value="{{ contract.order_stamp5_user_id }}">
                    <option value="" ></option>
                {% for user in users %}
                    {% if user.id == contract.order_stamp5_user_id %}
                        <option value="{{ user.id }}" selected>{{ user.name }}</option>
                    {% else %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
        </tr>
    </tbody>
    </table>
</div>