{% load static %}
{% load choice_utilities %}
{% load humanize %}
{% block content %}
        <div id="_message-box-budgeting" class="{{ alert_type }}">{{ alert_message }}</div>
        <div class="row">
            <div class="table-responsive col-12 col-sm-3">
                <form action="{% url 'constructions:workday_update' construction.id %}" method="post" id="_js_actual_work_day_form">
                    {%csrf_token%}
                    <table class="table table-striped text-nowrap">
                        <tbody>
                            <tr>
                                <th>実働日数</th>
                                <td>{{ actual_work_days_form.actual_work_days }} 日</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="wrapper_button">
                        <button type="submit" class="btn btn-outline-warning btn-md _jsActualWorkDayUpdateBtn"><i class="sub-icon fas fa-file-export"></i>登録</button>
                    </div>
                </form>
                <table class="table table-striped text-nowrap">
                    <tbody>
                        <tr>
                            <th>予定原価</th>
                            <td>{{ construction.tab_badgeting_expected_cost|intcomma }} 円</td>
                        </tr>
                        <tr>
                            <th>予定粗利</th>
                            <td>{{ construction.tab_badgeting_expected_gross|intcomma }} 円</td>
                        </tr>
                        <tr>
                            <th>予定粗利率</th>
                            <td>{{ construction.tab_badgeting_expected_gross_profit }} %</td>
                        </tr>
                        <tr>
                            <th>予定日割粗利</th>
                            <td>{{ construction.tab_badgeting_expected_gross_per_day }} 円/日</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped text-nowrap">
                    <tbody>
                        <tr>
                            <th>実行金額</th>
                            <td>{{ construction.tab_badgeting_actual_price|intcomma }} 円</td>
                        </tr>
                        <tr>
                            <th>実行粗利</th>
                            <td>{{ construction.tab_badgeting_actual_gross|intcomma }} 円</td>
                        </tr>
                        <tr>
                            <th>実行粗利率</th>
                            <td>{{ construction.tab_badgeting_actual_gross_profit }} %</td>
                        </tr>
                        <tr>
                            <th>実行日割粗利</th>
                            <td>{{ construction.tab_badgeting_actual_gross_per_day }} 円/日</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped text-nowrap">
                    <tbody>
                        <tr>
                            <th>粗利差額</th>
                            <td>{{ construction.tab_badgeting_gross_balance|intcomma }} 円</td>
                        </tr>
                        <tr>
                            <th>粗利率差</th>
                            <td>{{ construction.tab_badgeting_gross_profit_balance|intcomma }} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive col-12 col-sm-9">

                <table class="table sum table-striped text-nowrap">
                    <tbody>
                        <tr>
                            <th>合計</th>
                            <td class="_jsCostPricTotal"></td>
                        </tr>
                    </tbody>
                </table>
                <form action="{% url 'constructions:cost_save' construction.id %}" method="post" id="construnction_cost_hidden_form">
                    {% csrf_token %}
                    <input type="hidden" name="id">
                    {{ budgeting_form.occured_at.as_hidden }}
                    {{ budgeting_form.name.as_hidden }}
                    {{ budgeting_form.price.as_hidden }}
                    {{ budgeting_form.classification.as_hidden }}
                </form>
                <table class="table table-striped table-bordered text-nowrap" id='_jsCostTable'>
                    <thead>
                        <tr>
                            <th>日付</th>
                            <th>名前</th>
                            <th>金額</th>
                            <th>種類</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budgeting in construction.construction_costs %}
                        <tr>
                            <input type="hidden"  name="budgeting_id" value="{{ budgeting.id }}">
                            <td><input type="date" name="occured_at" required value="{{ budgeting.occured_at|date:'Y-m-d' }}"></td>
                            <td>
                                <select name="name" class="SlectBox" required >
                                    <option disable value="">------</option>
                                    {% for user in users %}
                                        {% if user.name == budgeting.name %}
                                            <option selected value="{{ user.name }}">{{ user.name }}</option>
                                        {% else %}
                                            <option value="{{ user.name }}">{{ user.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input class="form-control _jsCostPrice" type="number" required name="price" value="{{ budgeting.price }}"> 円</td>
                            <td><input class="form-control" type="textfield" required name="classification" maxlength="200" value="{{ budgeting.classification }}"></td>
                            <td><button type="button" class="btn_table btn-outline-dark btn-sm _jsConstructionCostUpdateBtn"><i class="fas fa-sync-alt"></i>更新</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="wrapper_button">
                    <button type="button" class="btn btn-outline-warning btn-md _jsCostAddTdBtn"><i class="sub-icon fas fa-calendar-plus"></i>新規予定追加</button>
                </div>
            </div>
        </div>
{% endblock %}
