{% load static %}
{% load humanize %}
{% load choice_utilities %}
{% block content %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap">
                <thead>
                    <tr>
                        <th>商品発注番号</th>
                        <th>仕入先</th>
                        <th>品名</th>
                        <th>予定原価合計</th>
                        <th>単位</th>
                        <th>納入先</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in construction.merchandise_orders %}
                    <tr>
                        <td><a href="{% url 'merchandise_orders:detail' order.id %}">{{ order.code }}</a></td>
                        </td>
                        <td>{{order.partner_company_name}}</td>
                        <td>{{order.detail_names}}</td>
                        <td>{{order.expected_cost|intcomma}} 円</td>
                        <td>{{order.detail_units}}</td>
                        <td>{{order.destination_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="wrapper_button">
                <a href="{% url 'merchandise_orders:create' construction.id %}">
                  <button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-alt"></i>新規商品発注書作成</button>
                </a>
            </div>
        </div>
{% endblock %}
