{% load static %}
{% load humanize %}
{% load choice_utilities %}
{% block content %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-nowrap">
                <thead>
                    <tr>
                        <th>外注発注番号</th>
                        <th>発注日</th>
                        <th>発注先</th>
                        <th>工事種別</th>
                        <th>予定原価合計</th>
                        <th>工事期間</th>
                        <th>作成日</th>
                        <th>実行原価</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in construction.outsource_orders %}
                    <tr>
                        <td><a href="{% url 'outsource_orders:detail' order.id %}">{{ order.code }}</a></td>
                        <td>{{order.order_date}}</td>
                        <td>{{order.partner_company_name}}</td>
                        <td>{{order.project_type}}</td>
                        <td>{{order.expected_cost|intcomma}} 円</td>
                        <td>{{order.construction_start_date}}〜{{order.construction_end_date}}</td>
                        <td>{{order.created_at}}</td>
                        <td>{{order.actual_cost|intcomma}} 円</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="wrapper_button">
                <a href="{% url 'outsource_orders:create' construction.id %}">
                  <button type="button" class="btn btn-outline-warning btn-md"><i class="sub-icon fas fa-file-alt"></i>新規外注発注書作成</button>
                </a>
            </div>
        </div>
{% endblock %}
