{% load static %}
{% load humanize %}
{% load choice_utilities %}
{% block content %}
        <div class="quote_item">
            <p>■見積</p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>ステータス</th>
                            <th>見積発行日</th>
                            <th>見積書番号</th>
                            <th>工事件名</th>
                            <th>見積金額(税込)</th>
                            <th>見積金額(税抜)</th>
                            <th>原価(税別)</th>
                            <th>税別粗利</th>
                            <th>粗利率</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for estimation in construction.estimations %}
                        <tr>
                            <td>{{ estimation.status | choice_label:'ESTIMATION_STATUS' }}</td>
                            <td>{{ estimation.submission_date|date:"Y年n月j日" }}</td>
                            <td>
                              <a href="{% url 'estimates:detail' estimation.id %}">
                                {{ estimation.code }}
                              </a>
                            </td>
                            <td>{{ estimation.construction_name }}</td>
                            <td>{{ estimation.total_with_tax|intcomma }} 円</td>
                            <td>{{ estimation.total|intcomma }} 円</td>
                            <td>{{ estimation.cost_total|intcomma }} 円</td>
                            <td>{{ estimation.gross_profit|intcomma }} 円</td>
                            <td>{{ estimation.gross_profit_rate|intcomma }} %</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="quote_item">
            <p>■請求</p>
            <div class="table-responsive">
                <table class="table table-striped table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>請求書発行日</th>
                            <th>請求書番号</th>
                            <th>請求金額(税込)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for invoice in construction.invoices %}
                        <tr>
                            <td>{{ invoice.published_date|date:"Y年n月j日" }}</td>
                            <td>
                              <a href="{% url 'invoices:detail' invoice.id %}">
                                {{ invoice.code }}
                              </a>
                            </td>
                            <td>{{ invoice.total_with_tax|intcomma }} 円</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="table-responsive col-12 col-md-4">
              <table class="table table-striped text-nowrap">
                  <tbody>
                      <tr>
                          <th>売上予定のみ金額(税別)</th>
                          <td>{{ construction.sum_total_by_expected_sales|intcomma }} 円</td>
                      </tr>
                      <tr>
                          <th>原価(税別)</th>
                          <td>{{ construction.sum_cost_total_by_expected_sales|intcomma }} 円</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="table-responsive col-12 col-md-4">
              <table class="table table-striped text-nowrap">
                  <tbody>
                      <tr>
                          <th>税別粗利</th>
                          <td>{{ construction.gross_profit_by_expected_sales|intcomma }} 円</td>
                      </tr>
                      <tr>
                          <th>粗利率</th>
                          <td>{{ construction.gross_profit_rate_by_expected_sales|intcomma }} %</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
{% endblock %}
