{% load static %}
{% load choice_utilities %}
{% block content %}
        <div id="_js_schedule_message-box" class="{{ alert_type }}">{{ alert_message }}</div>
        <p>■新規追加</p>
        <form action="{% url 'constructions:schedule_save' construction.id %}" method="post" id="construction_schedule_form">
            {% csrf_token %}
            <div class="form_area">
                <div class="form-group">
                    {{ schedule_form.description }}
                </div>
                {{ schedule_form.expected_date }}
                {{ schedule_form.charge_user }}
                <button type="button" id="schedule_new_add_btn" class="btn btn_add btn-outline-warning btn-md">
                    <i class="sub-icon fas fa-plus-circle"></i>追加
                </button>
            </div>
        </form>
        <p>■一覧</p>
        <div class="table-responsive">
            <form action="{% url 'constructions:schedule_save' construction.id %}" method="post" id="construnction_schedule_hidden_form">
                {% csrf_token %}
                <input type="hidden" name="id">
                {{ schedule_form.description.as_hidden }}
                {{ schedule_form.expected_date.as_hidden }}
                {{ schedule_form.charge_user.as_hidden }}
            </form>
            
            <table class="table table-striped table-bordered text-nowrap">
                <thead>
                    <tr>
                        <th>STEP</th>
                        <th>予約内容</th>
                        <th>予定日</th>
                        <th>担当者</th>
                        <th>更新</th>
                        <th>完了</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schedule in construction.construction_schedules %}
                    <tr>
                        <input type="hidden"  name="schedule_id" value="{{ schedule.id }}">
                        <td>STEP{{ forloop.counter }}</td>
                        <td><input class="form-control " type="textfield" required name="description" maxlength="200" value="{{ schedule.description }}"></td>
                        <td><input type="date" name="expected_date" required id="id_expected_date" value="{{ schedule.expected_date|date:'Y-m-d' }}"></td>
                        <td>
                            <select name="charge_user_id" class="SlectBox" required >
                                <option disable value="">担当者</option>
                                {% for user in users %}
                                    {% if user.id == schedule.charge_user_id %}
                                        <option selected value="{{ user.id }}">{{ user.name }}</option>
                                    {% else %}
                                        <option value="{{ user.id }}">{{ user.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td><a href="javascript:void(0)"><button type="button" class="btn_table btn-outline-dark btn-sm _jsScheduleUpdateBtnClick"><i class="fas fa-sync-alt"></i>更新</button></a></td>
                        <td>
                            {% if schedule.finished_flag == 0 %}
                            <button type="button" class="btn_table btn-outline-dark btn-sm _jsScheduleStatusBtnClick" ><i class="fas fa-check"></i>完了</button>
                            {% else %}
                            <button type="button" class="btn_table btn-outline-dark btn-sm" disabled ><i class="fas fa-check"></i>完了済</button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
